{% extends 'flipkart/base.html' %}
{% load static %}

{% block title %}Product History{% endblock %}
{% block body %}
<div class="container" style="padding-bottom: 100px;">

    <div  style="display: block; margin-right: auto; margin-left: auto; width: 50%;">
        <div class="thumbnail">
            <a href="{{product.product_link}}">
                <img alt="image" src="{{ product.image_link }}" class="img-responsive">
            </a>
            <div class="caption">
                <h4 class="text-center">{{ product.product_name | truncatechars:30 }}</h4>
                <h5 class="text-center">Price: Rs {{ product.current_price.amount }}</h5>
            </div>
            {% for configuration in product.description %}
                <h4 class="text-center">{{ configuration }}</h4>
            {% endfor %}
            <!-- Buy-->
            <a href="{{ product.product_link }}" target="_blank" class="btn btn-success btn-sm" role="button">Buy</a>
        </div>
    </div>

    <canvas id="myChart" width="100%" height="40px"></canvas>
</div>
<script>
const history = JSON.parse('{{ history_json | safe }}');
var labels = [], data = [];
Object.keys(history).forEach((key, index) => {
    var time = new Date(key*1000).toLocaleDateString();
    labels.push(time);
    data.push(history[key].current_price.amount);
} )
//console.log(labels);
//console.log(data);
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'cost price',
            data: data,
            backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(209, 10, 10, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


</script>
{% endblock %}
