{% extends 'flipkart/base.html' %}
{% load static %}

{% block title %}Product History{% endblock %}
{% block body %}
<div class="container" style="padding-bottom: 100px;">

    <div  style="display: block; margin-right: auto; margin-left: auto; width: 50%;">
        <div class="thumbnail">
            <a href="{{product.product_link}}">
                <img alt="image" src="{{ product.image_link }}" class="img-responsive">
            </a>
            <div class="caption">
                <h4 class="text-center">{{ product.product_name | truncatechars:30 }}</h4>
                <h5 class="text-center">Price: Rs {{ product.current_price.amount }}</h5>
            </div>
            {% for configuration in product.description %}
                <h4 class="text-center">{{ configuration }}</h4>
            {% endfor %}
            <!-- Buy-->
            <a href="{{ product.product_link }}" target="_blank" class="btn btn-success btn-sm" role="button">Buy</a>
        </div>
    </div>
    <div  id="slider"></div>
    <form id="slider_form"  method="POST" >
        {% csrf_token %}
        <input name="price_input" id="price_input" type="number" class="form-control" placeholder="set price limit" />
        <button id="slider_button" type="submit" class="btn btn-success submit_b" on >Submit</button>
    </form>
    <canvas id="myChart" width="100%" height="40px"></canvas>
</div>
<script>

//graph
const history = JSON.parse('{{ history_json | safe }}');
var labels = [], data = [];
Object.keys(history).forEach((key, index) => {
    var time = new Date(key*1000).toLocaleDateString();
    labels.push(time);
    data.push(history[key].current_price.amount);
} )
//console.log(labels);
//console.log(data);
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'cost price',
            data: data,
            backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(209, 10, 10, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

//slider
var max_price = data[data.length-1];
$("#slider").slider({
    range: "min",
    value: 1,
    step: 10,
    min: 0,
    max: max_price,
    slide: function( event, ui ) {
        $( "#price_input" ).val(ui.value );
    }
});


$("#price_input").change(function () {
    var value = this.value;
    value = Math.min(value, max_price)
    console.log(value);
    $("#price_input").val(value)
    $("#slider").slider("value", parseInt(value));
});



$("#slider_form input").not("#slider_button").keydown(function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

</script>
{% endblock %}
