{% extends 'flipkart/base.html' %}
{% block title %}Search{% endblock %}

{% block body %}

<div class="container">
    {% if none %}
    <br><br>
    <h3 class="text-center"><b>ERROR</b></h3>
    <h4 class="text-center"><b>{{ none }}</b></h4>
    {% else %}

        

            
    <h2 class="text-center">Most Relevant Products from Flipkart</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="width: 70%">Products</th>
                                <th class="text-center">Images</th>
                            </tr>
                        </thead>

                        <tbody>
                        <!-- for loop for tweets goes here -->
                            {% for product in result %}
                            <tr>
                                <td>
                                    <a href="{{ product.product_link }}" target="_blank"><h3>{{ product.product_name }}</h3></a>
                                    <h4>{{ product.current_price.currency }} {{ product.current_price.amount }}</h4>
                                    {% for configuration in product.description %}
                                        <h4>{{ configuration }}</h4>
                                    {% endfor %}
                                    <span class="storefront_add_to_cart">
                                        <a href="{% url 'flipkart:add_track' product.product_id %}" class="btn btn-primary btn-sm" role="button" >Track</a>
                                        <a href="{{ product.product_link }}" class="btn btn-primary btn-sm" target="_blank" role="button">Buy Now</a>
                                    </span>                                    
                                </td>
                                <td>
                                    <img src="{{ product.image_link }}" alt="product image"> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
