{% extends 'flipkart/base.html' %}
{% block title %}Search{% endblock %}

{% block body %}

<div class="container">
    {% if none %}
    <br><br>
    <h3 class="text-center"><b>ERROR</b></h3>
    <h4 class="text-center"><b>{{ none }}</b></h4>
    {% else %}




    <h2 class="text-center">Most Relevant Products from Flipkart</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="width: 70%">Products</th>
                                <th class="text-center">Images</th>
                            </tr>
                        </thead>

                        <tbody>
                        <!-- for loop for tweets goes here -->
                            {% for product in result %}
                            <tr>
                                <td>
                                    <a href="{{ product.product_link }}" target="_blank"><h3>{{ product.product_name }}</h3></a>
                                    <h4>{{ product.current_price.currency }} {{ product.current_price.amount }}</h4>
                                    {% for configuration in product.description %}
                                        <h4>{{ configuration }}</h4>
                                    {% endfor %}
                                    <span class="storefront_add_to_cart">
										<button id="{{ product.product_id }}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal" onClick="get_chart(this.id)">Track</button>
										
										<div class="modal fade" id="myModal" role="dialog">
										<div class="modal-dialog">

										  <!-- Modal content-->
										  	<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Price History</h4>
											  		<button type="button" class="close" data-dismiss="modal">&times;</button>
													<div  id="slider"></div>
													
													<form id="slider_form"  method="POST" action="{% url 'flipkart:add_trackapi' %}">
														{% csrf_token %}
														<input name="price_input" id="price_input" type="number" class="form-control" placeholder="set price limit" required/>
														<input type="hidden" id="product_id" name="product_id" value="{{ product.product_id }}">
														<button id="slider_button" type="submit" class="btn btn-success submit_b" onClick ="reply_click()" >Track</button>
													</form>
													<canvas id="myChart" width="100%" height="40px"></canvas>											
													
												</div>
										  	</div>

										</div>
										</div>
										
										
                                        <!-- <button id="{{ product.product_id }}" class="btn btn-primary btn-sm" onClick="reply_click(this.id)">Track</button>
                                        <!-- <a href="{% url 'flipkart:details' product.product_id %}" class="btn btn-primary btn-sm" role="button">History</a> -->
                                        <a href="{{ product.product_link }}" class="btn btn-success btn-sm" target="_blank" role="button">Buy Now</a>

                                    </span>
                                </td>
                                <td>
                                    <img src="{{ product.image_link }}" alt="product image">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% load static %}
<script src="{% static 'flipkart/chart.js' %}"></script>
<script src="{% static 'flipkart/track.js' %}"></script>

{% endblock %}
